.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-container {
  flex-direction: row;
  width: 150px;
  flex-wrap: wrap;
}

.button-count {
  background-color: aquamarine;
  border-radius: 4px;
  width: 50px;
  height: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.students {
  border: solid 2px #ccc;
  max-width: 300px;
  margin: 10px 0;
  position: relative;
}
.students span {
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 25px;
  color: brown;
  cursor: pointer;
}
.students p {
  margin: 20px;
}
.form-list-student {
  margin: 50px;
}
.form-list-student button {
  margin: 20px 50px;
}
.count {
  font-weight: 700;
}